{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        {% for banner in banners %}
        <div class="banner-item-01" style="background-image: url({{ banner.image.url }})">
            <div class="text-content">
                <h4>{{ banner.title }}</h4>
                <h2 style="color: orange; font-weight: bold;">{{ banner.desc }}</h2>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Banner Ends Here -->

<div class="staticnumber">
    <div class="container">
        <div class="row">
            <div class="numberstatic">
                <div class="numbericon">
                    <img src="{% static 'assets/images/icons/school-xxl.png' %}" alt="">
                </div>
                <div class="numbertext">
                    <p>29</p>
                    <p class="yearschool">ЖЫЛ ГИМНАЗИЯГА</p>
                </div>
            </div>
            <div class="numberstatic">
                <div class="numbericon">
                    <img src="{% static 'assets/images/icons/teacher-xxl.png' %}" alt="">
                </div>
                <div class="numbertext">
                    <p>44</p>
                    <p>МУГАЛИМ</p>
                </div>
            </div>
            <div class="numberstatic">
                <div class="numbericon">
                    <img src="{% static 'assets/images/icons/student-xxl.png' %}" alt="">
                </div>
                <div class="numbertext">
                    <p>507</p>
                    <p>ОКУУЧУ</p>
                </div>
            </div>
            <div class="numberstatic">
                <div class="numbericon">
                    <img src="{% static 'assets/images/icons/book-stack-xxl.png' %}" alt="">
                </div>
                <div class="numbertext">
                    <p>20000</p>
                    <p>КИТЕП</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="latest-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Биздин сыймыктар</h2>
                    <a href="{% url 'teachers' %}">Мугалимдер <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            {% for student in students %}
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="{{ student.image.url }}" alt=""></a>
                    <div class="down-content">
                        <h4 style="text-align: center; color: red;">{{ student.fullname }}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="best-features about-features" style="margin-bottom: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Гимназия жөнүндө</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <p style="font-size: 18px; font-weight: bold; text-indent: 40px;">
                        №14 Абдулла Тангатаров атындагы интернат-гимназиясы 1994-жылы 1-сентябрда
                        Ош облусунун Өзгөн районундагы Куршаб айылында ачылган .Гимназияга
                        1995-жылдын 23-майында Кыргыз Республикасынын илим, билим жана маданият
                        министирлигинин коллегиясынын №318 чечими менен лицензия берилген. <br>
                        Гимназия Кыргыз Республикасынын өкмөтүнүн
                        мектеп-гимназиялар жөнүндө жобосунун негизинде түзүлгөн, уставы бар.
                        Гимназиянын уставы юридикалык каттоодон 20-февраль 2010-жылы өткөн, каттоо
                        номери 110799-3306-у-е., кайра каттоодон 10-декабрь 2015-жылы өткөн, каттоо
                        номери S16/0119, кайра каттоодон 07-март 2017-жылы өткөн, каттоо номери
                        ГПЮ0025199. <br>
                        Гимназия мурдагы Ленин атындагы мектеп - интернатынын базасында 1994-жылы
                        ачылган. А.Тангатаров атындагы гимназиянын 3 этаждуу жана бир этаждуу
                        корпустары мурдагы интернаттын жатаканалары болгон жана алар бүгүнкү күндө
                        окуу корпусу катары ынгайлаштырылган. <br>
                        Гимназиянын жайгашкан жери: Өзгөн району, Куршаб айылы Айти Камчыбеков
                        көчөсү № 192 телефону: (03233) 3 23 81
                        Окутуунун тили: Кыргыз тилде
                    </p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://instagram.com/14_tangatarov_media"><i
                                class="fa fa-instagram"></i></a></li>
                        <li><a href="https://t.me/tangatarovmedia"><i
                                class="fa fa-telegram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <img src="{% static 'assets/images/tangatarov.jpeg' %}"
                         style="width: 100%; max-height: 600px;"
                         alt="">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="content" style="margin-bottom: 20px;">
        <h4>Гимназиянын негиздөөчүсү жана алгачкы директору</h4>
    </div>
    <div class="row">
        <div class="photo-grid col-md-6" style="width: 100%;">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="{% static 'assets/images/album/album1.jpeg' %}" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="{% static 'assets/images/album/album2.jpeg' %}" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="{% static 'assets/images/album/album3.jpeg' %}" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="{% static 'assets/images/album/album4.jpeg' %}" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="{% static 'assets/images/album/album5.jpeg' %}" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="{% static 'assets/images/album/album6.jpeg' %}" style="width:100%">
                </div>
            </div>
            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>

        </div>

        <div class="col-md-6">
            <div class="content">
                <h4>Тангатаров Каныбек 1965-жылы Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Adipisci deleniti dolor dolorum ducimus eveniet facere impedit,
                    laboriosam, minus, quos rerum tempora tempore! Aspernatur cumque facilis, odit
                    perferendis quaerat quasi quis quisquam sunt. Ab alias blanditiis consectetur
                    cum debitis laudantium optio, perspiciatis quos saepe suscipit ullam.</h4>
            </div>
        </div>
    </div>
</div>


<style>
    .staticnumber {
      background-color: #f5f5f5;
      padding: 20px;
    }

    .numberstatic {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 10px;
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .numbericon img {
      width: 50px;
    }

    .numbertext {
      margin-top: 10px;
      text-align: center;
    }

    .numbertext p:first-child {
      font-size: 24px;
      font-weight: bold;
    }

    .numbertext p:last-child {
      font-size: 14px;
      color: gray;
    }
</style>

<style>
    @media (max-width: 990px) {

    .banner .text-content h2 {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .latest-products2 {
      background-color: #f5f5f5;
      padding: 7px;
    }

    .numberstatic {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 4px;
      background-color: white;
      padding: 0px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .numbericon img {
      width: 24px;
      padding-top: 4px;
    }

    .numbertext {
      margin-top: 0px;
      text-align: center;
    }

    .numbertext p:first-child {
      font-size: 14px;
      font-weight: bold;
    }

    .numbertext p:last-child {
      font-size: 10px;
      color: gray;
    }

    .yearschool {
      line-height: 12px;
    }
}












</style>

<style>
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active2 {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}










</style>

<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active2", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active2";
  setTimeout(showSlides, 4000); // Change image every 2 seconds
}










</script>
<!-- Page Content END -->
{% endblock %}
    

